@import "reset.css";
@import "variables.css";

/* Components */
@import "components/icon.css";

/* Screens */
@import "login/login.css";
@import "main/main.css";
@import "main/pc.css";

.material-icons.md-36 { font-size: 36px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-55 { font-size: 55px; }

.hidden {
    display: none;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}