:root {
    /* Colors */
    --black: #1e2025;
    --light-yellow: #ffef7d;
    --yellow: #ffcc3b;
    --gray: #262a30;
    --light-gray: #8f9399;
    --white: #f7efe2;
    --chart-light-yellow: #fade92;


    /* Sizes */
    --mobile-base-space: 1.25rem;
    --card-radius: 20px;
    --chart-width: 300px;
    --chart-border: 25px;
    --chart-percent: 0;
}