.icon {
    border-radius: 50%;
    border: 3px solid var(--light-yellow);
}

.header__icon {
    width: 2.5rem;
    height: 2.5rem;
}

.round-icon {
    color: var(--yellow);
    cursor: pointer;
}

.dots {
    color: var(--light-gray);
    cursor: pointer;
}